﻿@model DemoSite.Models.VacancyApplyModel

<div class="container">
    <div class="row pb-5">
        <div id="anchor" class="col">
            @using (Html.BeginForm())
            {
                <div class="form-signin">
                    <h2 class="form-signin-heading"  id="anchor">Interview</h2>
                    <div>
                        @Html.LabelFor(x => x.Name, new {@class = "sr-only"})
                        @Html.TextBoxFor(x => x.Name, new {id = "inputName", @class = "form-control", placeholder = "Name"})
                        @Html.ValidationMessageFor(x => x.Name, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Email, new {@class = "sr-only"})
                        @Html.TextBoxFor(x => x.Email, new {id = "inputEmail", @class = "form-control", placeholder = "Email"})
                        @Html.ValidationMessageFor(x => x.Email, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Phone, new {@class = "sr-only"})
                        @Html.TextBoxFor(x => x.Phone, new {id = "inputPhone", @class = "form-control", placeholder = "Phone number"})
                        @Html.ValidationMessageFor(x => x.Phone, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/JS/ResponsiveValidation.js"></script>
}