﻿<div class="container">
    <div class="row">
        <div class="col">
            <h2 id="anchor">Thankyou for your interest section</h2>
        </div>
    </div>
    <div class="row" id="anchor">
        <div class="col pb-5">
            <p>Hello applicant, thankyou for your interest.</p>
        </div>
    </div>
</div>
