﻿@using DemoSite.Domain.ContentCreation
@using DemoSite.Models
﻿@model List<AdModel>

<div class="container-fluid">
    <!-- -------------------------------------------Circle scroll row--------------------------------------------------- -->
    <div class="row">
        <div id="circle">
            <a id="misc" href="#misc">
                <i class="fa fa-arrow-down fa-3x" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <!-- -----------------------------------------------Header row------------------------------------------------------- -->
    <div class="row">
        <div class="HomeHeader col p-5" style="margin-top: -48px;  min-height: 400px; width: 100%; background-color: ghostwhite">
            <h2 class="h2 text-center">
                Welcome to [Company name]...
                <small class="text-muted"><span class="red">[Industry]</span> focused provider</small>
            </h2>
            <br/>
            <p>
                With <span class="red">[number of years experience]</span> working within <span class="red">[Sector]</span>, we take specialist recruitment to the next level. We provide a full recruitment cycle covering all roles within <span class="red">[sector areas/location]</span>
            </p>
            <br/>
            <p>Whether you're looking for a new opportunity now, or would like to speak with the right people to help you when you decide the time is right then please get in touch for a confidential chat.</p>
        </div>
    </div>
    <!-- -----------------------------------------------Vacancy row------------------------------------------------------- -->
    <div class="row">
        <div class="HomeVacancies scrolltarget" style="min-height: 400px; width: 100%; background-color: #292b2c">

            <h2 class="h2 text-center py-5" style="color: ghostwhite;">
                Vacancies
            </h2>

            <div id="card-list" class="row px-5 pb-5">
                @{
                    foreach (var getter in Model)
                    {
                        <div class="col-lg-4 col-md-6 my-1">
                            <div class="card">
                                <div class="card-header">
                                    @getter.Title
                                </div>
                                <div class="card-block">
                                    <h4 class="card-title">Vacancy Details:</h4>
                                    <p class="card-text">@getter.Description</p>
                                    <a href="@Url.Action("FindOutMore", "Vacancies", new {@Title = getter.Title, @Author = getter.Author, @Description = getter.Description})" class="btn btn-primary pull-right">Apply</a>
                                </div>
                                <div class="card-footer text-muted">
                                    <p style="font-size: 0.7em; font-style: italic">Submitted by: @getter.Author closing date: @getter.EndAd.ToShortDateString()</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- ----------------------------------------------Social media row------------------------------------------------------ -->
    <div class="row">
        <div class="HomeSocialMedia col pb-5 px-5" style="padding-top: 60px; min-height: 400px; width: 100%; background-color: ghostwhite">
            <h2 class="h2 text-center">
                Social media
            </h2>
            <br/>
            <p>
                Nulla ut sollicitudin ipsum, eget feugiat tortor. Sed eget eleifend odio. Sed sit amet pretium urna. Nullam non nisl mi.
            </p>
            <p>
                Sed feugiat tincidunt massa id vulputate. Morbi rutrum purus suscipit, pretium felis vel, vulputate velit. Etiam sed urna dolor. Sed consequat quam est, et sagittis purus eleifend sed. Sed a.
            </p>
            <br/>
            <div class="text-center">
                <a href="#"> <i class="fa fa-facebook-official fa-5x" aria-hidden="true"></i></a>
                <a href="#"> <i class="fa fa-twitter-square fa-5x" aria-hidden="true"></i></a>
                <a href="#"> <i class="fa fa-instagram fa-5x" aria-hidden="true"></i></a>
                <a href="#"> <i class="fa fa-linkedin-square fa-5x" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <!-- -----------------------------------------------Team row------------------------------------------------------- -->
    <div class="row">
        <div class="HomeTeam" style="min-height: 400px; width: 100%; background-color: #292b2c">

            <h2 class="h2 text-center py-5" style="color: ghostwhite;">
                Meet the team
            </h2>
            @Html.Partial("~/Views/Home/Shared/_TeamPartial.cshtml", CreationUtilties.MakeTeam())
        </div>
    </div>
    <!-- ----------------------------------------------Interview row------------------------------------------------------ -->
    <div class="row">
        <div class="Interview col pb-5 px-5" style="padding-top: 60px; min-height: 400px; width: 100%;  background-color: ghostwhite">
            <h2 class="h2 text-center">
                Interview
            </h2>
            <br/>
            <p>
                Nulla ut sollicitudin ipsum, eget feugiat tortor. Sed eget eleifend odio. Sed sit amet pretium urna. Nullam non nisl mi.
            </p>
            <p>
                Sed feugiat tincidunt massa id vulputate. Morbi rutrum purus suscipit, pretium felis vel, vulputate velit. Etiam sed urna dolor. Sed consequat quam est, et sagittis purus eleifend sed. Sed a.
            </p>
            <br/>
            <div class="card">
                <h3 class="card-header">Interview request</h3>
                <div class="card-block">
                    <h4 class="card-title">Want a professional boost to your job search?</h4>
                    <p class="card-text">Quisque blandit interdum tortor, vitae mollis purus. Proin condimentum facilisis dolor, quis ornare est ultrices a. Sed ut elementum est. Vestibulum quis tellus sed dui scelerisque tincidunt in id urna.</p>
                    @Html.ActionLink("Book an interview", "InterviewForm", "Interview", null, null, "anchor", null, new {@class = "btn btn-primary pull-right"})
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/JS/centreItHomePage.js"></script>
}