﻿<div class="container">
    <div class="row">
        <div class="col">
            <h2 id="anchor">Secure section</h2>
        </div>
    </div>
    <div class="row" id="anchor">
        <div class="col pb-5">
            <p>Hello from your secure area</p>
            <p>Below is a link to the git repo of this site. If you'd link access send me a quick email.</p>
            <a href="https://fused19@bitbucket.org/fused19/recruitmentsitedemo.git">Git repo</a>
        </div>
    </div>
</div>
