html { height: 100%; }

body {
    background-color: #eee;
    padding-bottom: 40px;
    padding-top: 40px;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox { margin-bottom: 10px; }

.form-signin .checkbox { font-weight: normal; }

.form-signin .form-control {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
    height: auto;
    padding: 10px;
    position: relative;
}

.form-signin .form-control:focus { z-index: 2; }

.form-signin input[type="email"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 10px;
}

.wide {
    background-image:url('/Content/Images/header-img.png');
    /*background-color: #FF1C4D;*/
    background-size: cover;
    min-height: 690px;
}

.wide img { width: 100%; }

#misc {
    color: #1A1A1A;
    text-decoration: none;
}

#circle {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    z-index: 999;
}

#footer {
    background-color: #292b2c !important;
    bottom: 0px;
    height: 52px;
    left: 0px;
    padding: 5px;
    position: fixed;
    width: 100%;
}

#footertext {
    color: white;
    text-decoration: none;
}

#l-Style {
    display: block;
    margin-left: 310px;
    margin-top: -40px;
    position: absolute;
}

span.red {
    background: none;
    color: red;
}