﻿﻿@model List<DemoSite.Models.AdModel>

<div class="container">

    <div class="row">
        <div class="col">
            <h2 id="anchor">Vacancies</h2>
        </div>
    </div>

    <div id="card-list" class="row pb-5">
        @{
            foreach (var getter in @Model)
            {
                <div class="col-lg-4 col-md-6 my-1">
                 <div class="card">
                     <div class="card-header">
                         @getter.Title
                     </div>
                     <div class="card-block">
                         <h4 class="card-title">Vacancy Details:</h4>
                         <p class="card-text">@getter.Description</p>
                         <a href="@Url.Action("FindOutMore", "Vacancies", new {@Title = getter.Title, @Author = getter.Author, @Description = getter.Description})" class="btn btn-primary pull-right">Apply</a>
                     </div>
                     <div class="card-footer text-muted">
                         <p style="font-size: 0.7em; font-style: italic">Submitted by: @getter.Author closing date: @getter.EndAd.ToShortDateString()</p>
                     </div>
                 </div>
                </div>
            }
        }
    </div>
</div>
